:root {
  --gold-color: #f6e386;
  --tertiary-color: rgb(145, 160, 122);
  --grey-color: #dcdcdc;
  --red-color: red;
  --green-color: #137333;

  --color-select-input: white;
  --color-on-select-input: rgb(51, 51, 51);
  --color-select-input-placeholder: rgb(145, 145, 145);
  --color-select-input-border: rgb(204, 204, 204);
  --color-select-input-disabled: rgb(145, 145, 145);

  --color-select-input-error: rgba(255, 0, 0, 0.5);
  --color-select-input-icon: rgb(145, 145, 145);

  --color-select-chip: rgb(230, 230, 230);
  --color-select-chip-icon: rgb(145, 145, 145);
  --color-select-chip-border: transparent;
  --color-on-select-chip: rgb(51, 51, 51);

  --color-select-menu-border: rgb(204, 204, 204);
  --color-select-menu: white;
  --color-select-menu-group: grey;
  --color-on-select-menu-item: rgb(51, 51, 51);
  --select-border-radius: 4px;

  --color-select-menu-item-active: #e4ede7;
  --color-on-select-menu-item-active: rgb(51, 51, 51);

  --color-select-menu-item-selected: var(--gold-color);
  --color-on-select-menu-item-selected: white;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden;
  * {
    font-family: "Parisienne", serif;
  }
  &.mariage--no-scroll {
    overflow: hidden;
  }
}
.mariage {
  display: flex;
  flex-direction: column;
  > div {
    // flex: 1;
  }
}
